@model IEnumerable<Pendaftaran.Models.Bank>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NamaPetugasBank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JenisKelamin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TanggalPembayaran)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoRegistrasi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NamaPetugasBank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JenisKelamin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TanggalPembayaran)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoRegistrasi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPetugasBank">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPetugasBank">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPetugasBank">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
