@model Pendaftaran.Models.Siswa

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Siswa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NamaSiswa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NamaSiswa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TanggalLahir)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TanggalLahir)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JenisKelamin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JenisKelamin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Alamat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Alamat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NoRegistrasi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoRegistrasi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdSiswa">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
